<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwATncPe9dpaPu0PnH7esDGhXCu6iL-V0</string>
	<key>GCM_SENDER_ID</key>
	<string>316067526368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nativacu.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-659f3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-659f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316067526368:ios:0ee6bb3996dd98c1efc285</string>
</dict>
</plist>